
.fc-toolbar {
  .fc-left {
    float: right;
  }
  .fc-center {
    display: block;
  }
}
.fc {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  button {
    height: auto;
    padding: 10px;
  }
  .fc-toolbar > * > * {
    float: left;
    margin-left: 0;
  }
  .fc-state-default {
    font-size: 14px;
  }
  .fc-addEvent-button {
    margin-left: 10px;
  }
}
.fc-button-group {
  margin-right: 10px;
}
.fc-header-toolbar {
  .fc-center {
    h2 {
      font-weight: 300;
      font-size: 25px;
      margin-top: 7px;
      text-transform: capitalize;
    }
  }
}
.fc-state-default {
  background-image: none !important;
  border-color: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
  background-color: #fff;
  color: #272727;
}
.fc-state-active {
  background-color: #0073aa;
  color: #fff;
}
.fc {
  th {
    background: #0073aa;
    color: #fff;
    border-color: #0073aa;
  }
  td {
    line-height: 2.5;
  }
}
.fc-bgevent {
  background: #d8d6d6 !important;
}
.fc-nonbusiness {
  background-color: #fff;
}
.fc-event,
.fc-event-dot {
  background-color: transparent; }

.fc-day-grid-event:hover {
  color: #000 !important;
  opacity: 0.8; }

.fc-time-grid-event .fc-content {
  color: #fff; }
.fc-state-default {
  background-image: none !important;
  border-color: none !important;
  text-shadow: none !important;
  box-shadow: none !important; }

.fc-state-down,
.fc-state-active {
  background-color: none !important;
  background-image: none !important;
  box-shadow: none !important; }

.fc th {
  background: #0073aa;
  color: #fff;
  border-color: #0073aa; }

.fc-event {
  line-height: 1.3;
  border-radius: 2px;
  border-left: 4px solid #0073aa !important; }
.fc-month-view {
  font-size: 14px;
}
.fc-agendaWeek-view {
  font-size: 14px;
}
.fc-agendaDay-view {
  font-size: 14px;
}
.fc-sun {
  background-color: #F3F2F2;
}
.fc-sat {
  background-color: #F3F2F2;
}
.fc-list-view {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .fc-toolbar.fc-header-toolbar {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .fc-center {
      order: 1;
      width: 100%;
      margin-bottom: 10px;
    }
    .fc-left {
      order: 2;
      width: 100%;
      margin-bottom: 10px;
    }
    .fc-right {
      order: 3;
      width: 100%;
    }
  }

}